<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="local" connectionString="server=localhost;user=root;database=win_form_sample;port=3306;password=password_for_root;" />
    <add name="ubuntu" connectionString="server=10.0.2.4;user=win;database=win_form_sample;port=3306;password=password_for_win;" />
  </connectionStrings>
  <appSettings>
    <add key="dbKey" value="local" />
  </appSettings>
</configuration>